<!DOCTYPE HTML>
<html>
	<head>
		<title>Tus juegos</title>
		<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
		<link href="{{url_for('static', filename='css/theme-style.css')}}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='images/fav-icon.png')}}" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
		<!--requred-js-files-->
	  	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	    <script src="{{url_for('static', filename='js/invocation.js')}}"></script>
		<script src="{{url_for('static', filename='js/Chart.bundle.js')}}"></script>
		<!--//requred-js-files-->
	</head>

	<body>
		<!--start-bg-->
		<div class="bgBuscador">
			<!--start-container-->
			<div class="container">
				<!-- start-header-->
				<div class="row header">
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="well col-md-6">
							<div class="login-info well header-right">
								<a class="login btn-primary" href="/">Home</a>
								<a class="login btn-primary" href="/buscador">Buscador</a>
								<a class="login btn-primary" href="/favoritos">Favoritos</a>
							</div>
						</div>
					</div>
				</div>
					<div class="well slide-banner row">
						<div class="slide-banner-left col-md-8">
							<span> </span>
							<h1 id="tituloBuscador"></h1>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				</div>

				<div class="top-grids">
					<div class="container">
						<div class="top-grid-center col-md-12 text-center">
							<h2>Buscador de juegos</h2>
							<form role="form" action="">
								<div class="form-group">
									<h3>Plataforma</h3>

									<div class="table-responsive borde">
									    <table class="table">
									    	<tr>
									    		<td><input type="radio" name="plataforma" value="todos">Todos</td>
									    		<td><input type="radio" name="plataforma" value="ps4">PS4</td>
									    		<td><input type="radio" name="plataforma" value="ps3">PS3</td>
									    		<td><input type="radio" name="plataforma" value="ps2">PS2</td>
									    	</tr>

									    	<tr>
									    		<td><input type="radio" name="plataforma" value="xbox-one">XBox ONE</td>
									    		<td><input type="radio" name="plataforma" value="x360">XBox 360</td>
									    		<td><input type="radio" name="plataforma" value="wiiu">WiiU</td>
									    		<td><input type="radio" name="plataforma" value="wii">Wii</td>
									    	</tr>

									    	<tr>
									    		<td><input type="radio" name="plataforma" value="3ds">3DS</td>
									    		<td><input type="radio" name="plataforma" value="ds">DS</td>
									    		<td><input type="radio" name="plataforma" value="psvita">PsVita</td>
									    		<td><input type="radio" name="plataforma" value="psp">PSP</td>
									    	</tr>

									    	<tr>
									    		<td><input type="radio" name="plataforma" value="ios">iOS</td>
									    		<td><input type="radio" name="plataforma" value="web">Web</td>
									    		<td><input type="radio" name="plataforma" value="android">Android</td>
									    	</tr>
									    </table>
									</div>
								</div>

								<div class="form-group">
									<h3>Genero</h3>

									<div class="table-responsive borde">
									    <table class="table">
									    	<tr>
									    		<td><input type="radio" name="genero" value="todos">Todos</td>
									    		<td><input type="radio" name="genero" value="aventura">Aventura</td>
									    		<td><input type="radio" name="genero" value="casual">Casual</td>
									    		<td><input type="radio" name="genero" value="conduccion">Conducción</td>
									    	</tr>

									    	<tr>
									    		<td><input type="radio" name="genero" value="deportes">Deportes</td>
									    		<td><input type="radio" name="genero" value="estrategia">Estrategia</td>
									    		<td><input type="radio" name="genero" value="mmo">MMO</td>
									    		<td><input type="radio" name="genero" value="rol">Rol</td>
									    	</tr>

									    	<tr>
									    		<td><input type="radio" name="genero" value="simulacion">Simulación</td>
									    		<td><input type="radio" name="genero" value="accion">Acción</td>
									    		<td><input type="radio" name="genero" value="otros">Otros</td>
									    	</tr>
									    </table>
									</div>
								</div>

								<div class="form-group">
									<h3>Orden</h3>
									<div class="table-responsive borde">
									    <table class="table">
									    	<tr>
									    		<td><input type="radio" name="orden" value="juegos-populares">Populares</td>
									    		<td><input type="radio" name="orden" value="fecha">Fecha</td>
									    		<td><input type="radio" name="orden" value="lanzamientos">Lanzamientos</td>
									    		<td><input type="radio" name="orden" value="esperados">Esperados</td>
									    	</tr>
									    	<tr>
									    		<td><input type="radio" name="orden" value="valoracion">Valoración</td>
									    	</tr>
									    </table>
									</div>
								</div>
							 		<button type="button" id="botonBuscar" class="login btn-primary" onClick="getJuegos()">Buscar</button>
							</form>
						</div>
					</div>
				</div>
				<div class="juegos">
					<p id="resultado"></p>
				</div>
				<!--start-footer-->
				<div class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 footer-left">
								<ul>
									<li><p>Proyecto final de SD realizado por:</p></li>
									<li><p>Iván Barbosa Gutiérrez, </p></li>
									<li><p>Ángel Luis Bayón Romero, </p></li>
									<li><p>Cristina Mateo Gil, </p></li>
									<li><p>Antonio Sánchez Roldán</p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--end-footer-->
	</body>
</html>
